@import '@vuepress/plugin-palette/style';
@import '@vuepress/plugin-palette/palette';

.badge.success {
  background-color: var(--c-success);
}

// very basic form stylings
form.netlify {
  background-color: var(--c-brand-bg);
  padding: 2em 3em;
  input[type=email], input[type=text], textarea {
    border: 0 solid #f8f8f8;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    height: 50px;
    width: 100%;
    padding: 1em;
    &:focus {
      outline: 1px solid var(--c-brand-light);
      outline-offset: 2px;
    }
  }
  textarea {
    height: 200px;
    font-family: var(--font-family);
  }
  button[type=submit] {
    width: 25%;
    margin: auto;
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--c-brand);
    color: var(--c-brand);
    transition: background-color var(--c-brand-light);
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: var(--c-brand-light);
      color: #ffffff;
      transition: all 0.2s;
    }
  }
}

.custom-container {
  &.third {
    width: 33%;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  &.half {
    width: 50%;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  &.center {
    text-align: center;
    padding: 3em;
  }
  &.right {
    float: right;
    padding: 1em;
    width: auto;
    text-align: center;
  }
  &.left {
    float: left;
    padding: 1em 2em;
    padding-left: 0;
    width: auto;
    text-align: center;
  }
  &.card {
    text-align: center;
    background-color: var(--c-bg-lighter);
    border-top: 1px solid var(--c-border);
    border-bottom: 1px solid var(--c-border);
    img {
      max-width: 90%;
    }
  }
  &.highlight {
    text-align: left;
    color: var(--c-brand);
    font-size: 1.2em;
    font-weight: 900;
    border-top: 4px solid var(--c-brand);
    border-bottom: 4px solid var(--c-brand);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    p {
      margin: 0;
    }
  }
  &.thumbnail {
    border: 1px dashed var(--c-border-dark);
    border-radius: 3px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 1.5em;
    p {
      margin: 0;
    }
  }
  &.caption {
    padding: 5px;
    background-color: var(--c-bg-lighter);
    color: var(--c-text-light);
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .4px;
  }
}

@media (max-width: $MQMobile) {
  .custom-container {
    &.third {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      img {
        width: 100%
      }
    }
    &.half {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      img {
        width: 100%
      }
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .custom-container {
    &.left {
      float: none;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      img {
        width: 100%
      }
    }
    &.right {
      float: none;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      img {
        width: 100%
      }
    }
  }
}
